{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": true,
    "printWidth": 120,
    "tabWidth": 5,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf"
}
